@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Mono:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}


.container{
    display: grid;
    margin: auto;
    text-align: center;
    align-items: center;
}


#gameContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 600px;
    margin: auto auto 1em auto;
    
}


.card{
    border: 2px solid;
    width: 200px;
    height: 100px;
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
    box-sizing: border-box; /* Add this line */
    padding: 10px;
}

#restartBtn{
    margin: auto;
    width: auto;
    height: 40px;
}